<% @current_page = t('domains.mail-aliases') %>
<% if @aliases.any? %>
  <table id="aliases-table" class="table table-hover data-table">
    <thead>
      <tr>
        <th><%= t("aliases.name") %></th>
        <th><%= t("ldap.attributes.maildrop") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
      <tbody>
        <% @aliases.each do |ali| %>
          <% show_url = domain_alias_path(@domain.id, ali.id) %>
          <% show_title = t('aliases.actions.show')%[ali.id] %>
          <tr>
            <td data-href="<%= show_url %>">
              <%= link_to(ali.mail, show_url, title: show_title) %>
            </td>
            <td data-href="<%= show_url %>">
              <%= ali.maildrop_as_string %>
            </td>
            <td class="text-right">
              <%= link_to icon('fa', 'edit'), edit_domain_alias_path(@domain.id, ali.id), title: t('aliases.actions.edit')%[ali.id] %>
              <%= link_to icon('fa', 'trash'), domain_alias_path(@domain.id, ali.id), method: :delete,
                          data: {confirm: t('aliases.actions.delete-confirm')%[ali.id]}, title: t('aliases.actions.delete')%[ali.id] %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="col-md-12"><%= t('aliases.no-items') %></div>
  </div>
<% end %>

<div class="float-right mt-5">
  <%= link_to icon('fa', 'envelope', t('aliases.actions.new')), new_domain_alias_path(@domain.id), title: t('aliases.actions.new'), class: 'page-link' %>
</div>

<script>
  $(document).ready(function() {
    $("#aliases-table").dataTable();
  });
</script
