<% if @people.any? %>
  <table id="people-table"
         data-page-length='25'
         class="table table-striped table-bordered table-hover data-table">
    <thead>
      <tr>
        <th><%= t("ldap.attributes.cn") %></th>
        <th><%= t("ldap.attributes.sn") %></th>
        <th><%= t("ldap.attributes.mail") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
      <tbody>
        <% @people.each do |person| %>
          <% show_url = domain_person_path(@domain.id, person.id) %>
          <% show_title = t('people.actions.show')%[person.id] %>
          <tr>
            <td data-href="<%= show_url %>">
              <%= link_to(person.cn, show_url, title: show_title) %>
            </td>
            <td data-href="<%= show_url %>">
              <%= person.sn %>
            </td>
            <td data-href="<%= show_url %>">
              <%= person.mail if person.mail %>
            </td>
            <td class="text-right">
              <%= link_to icon('fa', 'edit'), edit_domain_person_path(@domain.id, person.id), title: t('people.actions.edit')%[person.id] %>
              <%= link_to icon('fa', 'trash'), domain_person_path(@domain.id, person.id), method: :delete,
                  data: {confirm: t('people.actions.delete-confirm')%[person.id]}, title: t('people.actions.delete')%[person.id] %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  No people
<% end %>

<script>
  $(document).ready(function() {
    $("#people-table").dataTable();
  });
</script
