<% if @group.id
  submit_text = t('groups.form.update-action')
  submit_url = domain_group_path(@domain.id, @group.id)
  submit_method = 'put'
else
  submit_text = t('groups.form.create-action')
  submit_url = domain_groups_path(@domain.id)
  submit_method = 'post'
end %>

<%= form_with url: submit_url, method: submit_method, class: "row" do %>
  <%#= errors @alias %>
  <div class="col-md-10 col-xs-12" title="<%= t('groups.form.cn-description') %>">
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("groups.name") %>:</div>
      <div class="col-md-8 col-xs-12">
        <%= email_field :group, :cn, class: "form-control", required: true, disabled: @group.id %>
      </div>
    </div>
    <div class="row form-group" title="<%= t('groups.form.member-description') %>">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("ldap.attributes.member") %>:</div>
      <div class="col-md-8 col-xs-12">
        <%= text_field :group, :member, class: "form-control", required: true %>
      </div>
    </div>
    <div class="row form-group" title="<%= t('ldap.descriptions.description') %>">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("ldap.attributes.description") %>:</div>
      <div class="col-md-8 col-xs-12">
        <%= text_field :group, :description, class: "form-control" %>
      </div>
    </div>
    <div class="float-right">
      <%= submit_tag(submit_text) %>
    </div>
  </div>
<% end %>
