<div class="row align-items-center justify-content-center">
  <%= form_with url: change_password_path, html: {class: "col-mb-3 col-xs-12 text-center"} do |f| %>
    <%= render "devise/shared/error_messages", resource: current_user %>
    <div class="field">
      <%= f.password_field :password_current, placeholder: I18n.t("devise.password_current"), autocomplete: "off", class: "form-control" %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password_new, placeholder: I18n.t("devise.password_new"), autocomplete: "off", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirm, placeholder: I18n.t("devise.password_confirm"), autocomplete: "off", class: "form-control" %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit I18n.t("devise.password_change-action"), class: "btn btn-lg btn-primary ttn-block form-control" %>
    </div>
  <% end %>
</div>
