<div class="row"><% puts @domain %>
  <div class="col-md-10 col-xs-12">
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.name") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.o %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.associated-domain") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.associatedDomain %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.mailbox") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.destinationIndicator %></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.people") %>:</div>
      <div class="col-md-8 col-xs-12">
        <%= link_to icon('fa', 'user-edit', t("domains.people-count", count: @domain.people.count)),
                    domain_people_path(@domain.o), title: t('domains.actions.people')%[@domain.o] %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.mail-aliases") %>:</div>
      <div class="col-md-8 col-xs-12">
        <%= link_to icon('fa', 'envelope', t("domains.mail-aliases-count", count: @domain.aliases.count)),
                    domain_aliases_path(@domain.o), title: t('domains.actions.aliases')%[@domain.o] %>
      </div>
    </div>
  </div>
</div>
