<% if @domains.any? %>
  <table id="domains-table"
         data-page-length='25'
         class="table table-striped table-bordered table-hover data-table">
    <thead>
      <tr>
        <th><%= t("domains.name") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
      <tbody>
        <% @domains.each do |domain| %>
          <tr>
            <td>
              <a href="<%= domain_path(domain.id) %>" title="<%= t('domains.actions.show')%[domain.id] %>">
                <%= domain.o %>
                <% if domain.o != domain.associatedDomain %>
                  <%= icon('fa', 'share', title: t('domains.mail-redirected-to')%[domain.associatedDomain]) %>
                <% end %>
              </a>
            </td>
            <td class="text-right">
              <%= link_to icon('fa', 'edit'), edit_domain_path(domain.id), title: t('domains.actions.edit')%[domain.id] %>
              <%= link_to icon('fa', 'trash'), domain_path(domain.id), method: :delete,
                          data: {confirm: t('domain.actions.delete-confirm')%[domain.id]}, title: t('domains.actions.delete')%[domain.id] %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  No domains
<% end %>

<script>
  $(document).ready(function() {
    $("#domains-table").dataTable();
  });
</script
