<% if @domains.any? %>
  <table id="domains-table"
         data-page-length='25'
         class="table table-striped table-bordered table-hover data-table">
    <thead>
      <tr>
        <th><%= t("domains.name") %></th>
        <th data-orderable='false'>&nbsp;</th>
        <th data-orderable='false'>&nbsp;</th>
      </tr>
    </thead>
      <tbody>
        <% @domains.each do |domain| %>
          <% show_url = domain_path(domain.id) %>
          <% show_title = t('domains.actions.show')%[domain.id] %>
          <tr>
            <td data-href="<%= show_url %>">
              <a href="<%= show_url %>" title="<%= show_title %>">
                <%= domain.o %>
                <% if domain.o != domain.associatedDomain %>
                  &nbsp;
                  <%= icon('fa', 'share', title: t('domains.mail-redirected-to')%[domain.associatedDomain]) %>
                <% end %>
              </a>
            </td>
            <td data-href="<%= show_url %>">
              <%= domain.description %>
            </td>
            <td class="text-right">
              <%= link_to icon('fa', 'edit'), edit_domain_path(domain.id), title: t('domains.actions.edit')%[domain.id] %>
              <%= link_to icon('fa', 'trash'), domain_path(domain.id), method: :delete,
                          data: {confirm: t('domains.actions.delete-confirm')%[domain.id]}, title: t('domains.actions.delete')%[domain.id] %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  <div class="row">
    <div class="col-md-12"><%= t('domains.no-items') %></div>
  </div>
<% end %>

<div class="float-right mt-5">
  <%= link_to icon('fa', 'globe-europe', t('domains.actions.new')), new_domain_path, title: t('domains.actions.new'), class: 'page-link' %>
</div>

<script>
  $(document).ready(function() {
    $("#domains-table").dataTable();
  });
</script
