<% @current_page = @domain.id %>
<div class="row">
  <div class="col-md-10 col-xs-12">
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("domains.name") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.id %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("ldap.attributes.associated-domain") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.associatedDomain %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("ldap.attributes.mailbox") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.destinationIndicator %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("ldap.attributes.description") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @domain.description %></div>
    </div>

    <%= render partial: 'items' %>
  </div>
</div>
