<!DOCTYPE html>
<html>
  <head>
    <title>webLDAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= render partial: "layouts/header" %>
    <div id="body" class="justify-content-center mt-4">
      <div class="col-mb-10 col-xs-12">
        <%= render partial: "layouts/breadcrumb" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
